*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
.idea/*.xml
!app/*.xml
!app/src/main/res/xml/*.xml
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.idea/
.gradle/
build/
*.bak
*~
*.swp
*.log
.DS_Store
Thumbs.db
